In [10]:
def new(a,b=5):# here a is postional argument and b is key word argument as b is using key value pairs i.e b is the key and 5 is the value
    return 'The name is {} and the age is {}'.format(a,b)

In [6]:
new('Rahaman',25)

'The name is Rahaman and the age is 25'

In [7]:
#we can also use positional and keyword arguments as follows 
def new_id(*args,**kwargs):
    print(args)
    print(kwargs)

In [9]:
new_id('Miazur','Rahaman','Mohammad',Age=22,DOB=31072003,phone=7981291921)

('Miazur', 'Rahaman', 'Mohammad')
{'Age': 22, 'DOB': 31072003, 'phone': 7981291921}

# Lambda Function

also called as anonymous function / function with no name 

## only possible if have a single expression

In [11]:
eve = lambda a : a%2==0

In [12]:
eve(33)

False

In [13]:
add = lambda a,b,c : a+b+c

In [14]:
add(12,11,15)

38

In [15]:
# after map we are now using filter 
# let us see the diff btw map and filter
def ev(num):
    if num%2==0:
        return True

In [16]:
lst = [ 1,3,34,46,6,7,4]

In [19]:
list(filter(ev,lst)) # filter return the num value if only true

[34, 46, 6, 4]

In [20]:
list(map(ev,lst)) # map is returning the return statements for every element

[None, None, True, True, True, None, True]

In [21]:
list(filter(lambda num:num%2==0,lst))

[34, 46, 6, 4]

In [23]:
# list comprehension
lst1=[]
def lst_sq(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [24]:
lst_sq([1,4,6,4,2,3])

[1, 16, 36, 16, 4, 9]

In [25]:
ln=[1,4,6,4,2,3]

In [27]:
[i*i for i in ln if i%2==0]  #this is list comprehension

[16, 36, 16, 4]

# Iteration and Iteraor

In [28]:
lst=[1,2,3,4,5] # this is iteration and here the system will take the whole value list 
for i in lst:
    print(i)

1
2
3
4
5

In [43]:
ls=iter(lst)

In [44]:
next(ls) # for each execution the number in list changes untill there are no numbers left

1

In [45]:
for i in ls: # here we are not taking all the eliments of the list at a time but a single element at a time and storing this takes less storage
    print(i)

2
3
4
5

# Pyforest

In [1]:
# pip install pyforest
df=pd.read_csv('mercedesbenz.csv')

In [3]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

# OOPS Tutorial in Python

## Class

In [19]:
class car():
    def __init__(self,brand,doors,fuel):
        self.brand=brand
        self.doors=doors
        self.fuel=fuel
    def intro(self):
        return 'This is a {} car'.format(self.brand) # when using self it is almost similar to assigning a Global Variable

In [20]:
car1=car('BMW',2,'Petrol')

In [21]:
print(car1.brand)

BMW

In [22]:
car1.intro()

'This is a BMW car'

## Exceptional Handeling

In [27]:
a=20/0

ZeroDivisionError: division by zero

In [24]:
try:
    a=20/0
except:
    print(' we cannot devide by zero')

 we cannot devide by zero

In [29]:
try:
    a=int(input('give the first number :'))
    b=int(input('give the second number :'))
    c=a/b
except ZeroDivisionError:
    print('give number grater than zero')
except Exception as ex:
    print(ex)
else:
    print(c)
finally:
    print('execution completed')

give the first number : 12
give the second number : 0

give number grater than zero
execution completed

### Custom Exception

In [30]:
class Error(Exception):
    pass
class Chldmrg(Error):
    pass

In [33]:
a=int(input('enter your age '))
b=int(input('enter your child age'))
try:
    if (a-b) > 18:
        print('you are of concent age when married')
    else:
        raise Chldmrg # raise is actually use to say that there is an exception as we are using custom exception here we need to specify
except Chldmrg:
    print ('You were not of concent age when married')

enter your age  20
enter your child age 3

You were not of concent age when married

## Python OOPS public , protected and private varible

in python there is no restriction we can change even private var but we are able to know as a developer that , that perticular var is public protected or privant use dir(var)

In [2]:
# here all the class variables are public
class car():
    def __init__(self,brand,doors,fuel):
        self.brand=brand
        self.doors=doors
        self.fuel=fuel

In [3]:
car1=car('Bmw',2,'P')

In [6]:
car1.brand

'Bmw'

In [7]:
car1.brand='Audi' # as it is a public var we can change or overwrite the var anywhere

In [8]:
car1.brand

'Audi'

### Protected var , Here we also used inheritance 

here the protected var can also be accessed anywhere but the only ristriction is that the over written part can only be done by its sub class

In [1]:
# here all the class variables are protected
class car():
    def __init__(self,brand,doors,fuel):
        self._brand=brand   # we just need to add a _ before the var name to make it a protected var   
        self._doors=doors   # we just need to add a _ before the var name to make it a protected var 
        self._fuel=fuel     # we just need to add a _ before the var name to make it a protected var

In [25]:
class truck(car): # this is a sample of inheritance as we can use all the properties of car over here as well 
    def __init__(self,brand,doors,fuel,hopr):
        super().__init__(brand,doors,fuel) # super meaning from my superset aka parent class copy the followying
        self.hopr=hopr

In [26]:
# let us create a new class without inheritance and try to change / over write the protected var
def new(a):
    a=car.brand

In [27]:
truck1=truck('audi',2025,'P',12000)

In [28]:
truck1.hopr

12000

In [29]:
truck1.doors=5

In [30]:
truck1.doors

5

### Now private var 

this cannot be acced by any sub class or anything

In [31]:
# here all the class variables are protected
class car():
    def __init__(self,brand,doors,fuel):
        self.__brand=brand   # we just need to add a __ before the var name to make it a private var   
        self.__doors=doors   # we just need to add a __ before the var name to make it a private var 
        self.__fuel=fuel     # we just need to add a __ before the var name to make it a private var

In [32]:
na=car('bmw',4,'P')

In [33]:
dir(na)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_car__brand',
 '_car__doors',
 '_car__fuel']

In [34]:
# in above we can see that the var are like _car__brand and etc , with that we can easily know weather it is a public , private or protected var 
na._car__brand #this is how we can see the output

'bmw'

In [35]:
na._car__brand='audi' # as this is python it is not restricted so we can even change it if we want to but as a dev we should know better 
na._car__brand

'audi'

In [ ]:
5